name: Build

on:
  push:
    paths-ignore:
      - ".github/workflows/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Build
    runs-on: ubuntu-22.04

    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version-file: ".nvmrc"

      - name: Build
        run: |
          npm ci
          npm run build
